#footer {
    background-color: #22242b;
    padding: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include tablet {
        flex-flow: row nowrap;
    }

    & .little-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet {
            padding-right: 50px;
            border-right: 2px solid rgb(179, 179, 179);
        }

        & .image {
            flex-basis: 100%;
            text-align: center;
            @include tablet {
                flex-basis: unset;
            }

            & img {
                @include tablet {
                    width: 250px;
                }
            }
        }
        & p {
            flex-basis: 100%;
            margin-top: 30px;
            font-size: 17px;
            text-align: center;
            letter-spacing: 1px;
            word-spacing: 2px;

            @include tablet {
                min-width: 250px;
                max-width: 350px;
            }
        }
    }

    & .links-cols {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding-top: 50px;
        
        @include tablet {
            flex-flow: row nowrap;
            margin-left: 50px;
            float: left;
        }

        & .links-col {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            
            @include tablet {
                display: inline-block;
                margin-right: 100px;
            }

            & .title {
                font-style: italic;;
            }
            & ul {
                @include reset-list;
                & li {
                    font-size: 16px;
                    color: rgb(230, 230, 230);
                    text-align: center;
                    padding: 10px;
                }
            }
        }
    }
}