#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 70px;
    padding: 0;
    padding-left: 20px;
    background-color: $header-bg-color;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 998;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    @include laptop {
        padding: 0 53px;
    }

    & .logo {
        flex-grow: 1;
        float: left;
        & .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        & img {
            vertical-align: middle;
        }
    }

    & #btn-menu {
        display: block;
        float: right;
        padding: 15px 20px;
        border: none;
        background-color: transparent;
        color: white;
        font-family: 'WebSymbolsRegular';
        font-size: 25px;

        @include mobile-xl {
            display: none;
        }
    }

    & .header-nav {
        flex-grow: 10;
        display: none;
        line-height: 50px;

        @include mobile-xl {
            padding-left: 20px;
            display: flex;
            flex-flow: row nowrap;
        }

        & .main-menu {
            @include mobile-xl {
                flex-grow: 2;
                display: flex;
                align-items: center;
            }
            
            @include laptop {
                padding-right: 30px;
            }

            & li {
                display: inline-block;

                & a {
                    display: block;
                    font-size: 16px;
                    color: $header-text-color;
                    padding: 0 1px 5px;
                    margin-right: 45px;
                    border-bottom: 2px solid transparent;
                    outline: none;

                    @include laptop {
                        transition: 300ms;
                        
                        &:hover,
                        &.active {
                            border-bottom: 2px solid $header-menu-hover-color;
                        }
                    }
                }
            }
        }

        & .header-nav-right {
            flex-grow: 1;
            & .user-panel {
                height: 100%;
                @include mobile-xl {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: center;
                    
                    @include laptop {
                        justify-content: flex-end;
                    }
                }

                & #user-menu {
                    border: none;
                    background-color: transparent;
                    color: rgb(255, 255, 255);
                    font-size: 18px;
                    height: 100%;

                    @include laptop {
                        cursor: pointer;
                    }
                }

                & .user-menu {
                    @include reset-list;
                    display: none;
                    position: absolute;
                    top: 70px;
                    min-width: 120px;
                    border: 1px solid blue;
                    background-color: white;
                    text-align: center;

                    &.show {
                        display: block;
                    }

                    & li {
                        height: 50px;
                        &:hover {
                            box-shadow: 1px 1px 1px rgb(58, 54, 54) inset;
                        }

                        & > ul {
                            @include reset-list;
                            display: none;
                            position: absolute;
                            border: 1px solid red;
                            margin-top: -50px;
                            transform: translateX(-100%);
                        }

                        &:hover > ul {
                            display: block;
                        }
                    }
                }

                & .login {
                    display: inline-block;
                    color: $header-text-color;
                    font-size: 16px;
                    outline: none;
                }
                
                & .register {
                    display: none;
                    outline: none;
                    @include tablet {
                        display: inline-block;
                        
                        min-width: 50px;
                        text-align: center;
                        color: $header-text-color;
    
                        @include laptop {
                            padding: 8px 15px;
                            margin-left: 25px;
                            min-width: 130px;
                            transition: all 300ms;
    
                            &:hover {
                                color: #57d4b5;
                                transform: scale(1.6, 1.6);
                            }
                        }
                    }
                }
            }

        }
        
    }

    &.header-search {
        position: fixed;
        background-color: $search-header-bg-color;
    }
}

#mobile-menu {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);

    &.active {
        display: flex;
    }

    & ul {
        list-style: none;
        li {
            width: 100%;
            line-height: 60px;
            & a {
                font-size: 30px;
                color: white;
            }
        }
    }

    & .close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    @include tablet {
        display: none;
    }
}
